# Pycharm metadata
.idea/

# Python cache
*.pyc

# Python environment
env/

# Jupyter notebook for scrapers
scraping_engine/ignoreThis.ipynb
scraping_engine/.ipynb_checkpoints

# Whoosh
whoosh_index/
